Betgrab.Domain/bin/Debug/netstandard2.1/Betgrab.Domain.deps.json
Betgrab.Domain/bin/Debug/netstandard2.1/Betgrab.Domain.dll
Betgrab.Domain/bin/Debug/netstandard2.1/Betgrab.Domain.pdb
Betgrab.Domain/Betgrab.Domainobj/../Betgrab.Web.EntityFrameworkCore.targets
Betgrab.Domain/Betgrab.Domainobj/Betgrab.Domain.csproj.EntityFrameworkCore.targets
Betgrab.Domain/obj/../Betgrab.Web.EntityFrameworkCore.targets
Betgrab.Domain/obj/Betgrab.Domain.csproj.EntityFrameworkCore.targets
Betgrab.Domain/obj/Betgrab.Domain.csproj.nuget.dgspec.json
Betgrab.Domain/obj/Betgrab.Domain.csproj.nuget.g.props
Betgrab.Domain/obj/project.assets.json
Betgrab.Domain/obj/project.nuget.cache
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.assets.cache
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.csproj.CoreCompileInputs.cache
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.csproj.FileListAbsolute.txt
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.csprojAssemblyReference.cache
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.dll
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.pdb
Betgrab.Domain/bin/Debug/netstandard2.1/Betgrab.Domain.deps.json
Betgrab.Domain/bin/Debug/netstandard2.1/Betgrab.Domain.dll
Betgrab.Domain/bin/Debug/netstandard2.1/Betgrab.Domain.pdb
Betgrab.Domain/Betgrab.Domainobj/../Betgrab.Web.EntityFrameworkCore.targets
Betgrab.Domain/obj/../Betgrab.Web.EntityFrameworkCore.targets
Betgrab.Domain/obj/Betgrab.Domain.csproj.EntityFrameworkCore.targets
Betgrab.Domain/obj/Betgrab.Domain.csproj.nuget.dgspec.json
Betgrab.Domain/obj/Betgrab.Domain.csproj.nuget.g.props
Betgrab.Domain/obj/project.assets.json
Betgrab.Domain/obj/project.nuget.cache
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.assets.cache
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.csproj.CoreCompileInputs.cache
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.csproj.FileListAbsolute.txt
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.csprojAssemblyReference.cache
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.dll
Betgrab.Domain/obj/Debug/netstandard2.1/Betgrab.Domain.pdb
