

.param-row {
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(3, minmax(min-content, max-content));
   align-items: center;
}

.outputs {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;

  & .output {
    padding: .5rem;
    height: 300px;

    & pre {
      font-size: 12px;
      height: 100%;
      overflow-y: auto;
      font-family: 'Segoe UI';

      & span {
         display: block;
      }
    }
  }
}
