<h1>Hello, I'm LiveScore grabber!</h1>
<p>Select the league the results you want to watch which</p>

<ul>
  <li>
    <a target="_blank" href="https://localhost:44380/api/livescore/parse/2021-01-06">Live</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/favourites/">Favourites</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/news/">News</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/england/">England</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/spain/">Spain</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/italy/">Italy</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/germany/">Germany</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/france/">France</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/champions-league/">Champions League</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/europa-league/">Europa League</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/euro/">EURO</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/uefa-nations-league/">UEFA Nations League</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/uefa-women-s-champions-league/">UEFA Women's Champions League</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/uefa-youth-league/">UEFA Youth League</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/euro-under-21/">Euro U-21</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/euro-u-19-2021/">Euro U-19</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/euro-under-17/">Euro U-17</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/euro-women/">Euro Women</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/euro-u-19-women/">Euro U-19 Women</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/euro-u-17-women-2021/">Euro U-17 Women</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/albania/">Albania</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/andorra/">Andorra</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/austria/">Austria</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/belarus/">Belarus</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/belgium/">Belgium</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/bosnia/">Bosnia and Herzegovina</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/bulgaria/">Bulgaria</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/croatia/">Croatia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/cyprus/">Cyprus</a>
    <ul>
      <li>
        <a target="_blank" href="https://livescore.com/en/football/cyprus/super-cup/">Super Cup</a>
      </li>
      <li>
        <a target="_blank" href="https://livescore.com/en/football/cyprus/1-division/">1. Division</a>
      </li>
      <li>
        <a target="_blank" href="https://livescore.com/en/football/cyprus/cup/">Cup</a>
      </li>
      <li>
        <a target="_blank" href="https://livescore.com/en/football/cyprus/1-division-championship/">1. Division: Championship</a>
      </li>
      <li>
        <a target="_blank" href="https://livescore.com/en/football/cyprus/1-division-relegation/">1. Division: Relegation</a>
      </li>
      <li>
        <a target="_blank" href="https://livescore.com/en/football/cyprus/2-division/">2. Division</a>
      </li>
    </ul>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/czech-republic/">Czech Republic</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/denmark/">Denmark</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/estonia/">Estonia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/faroe-islands/">Faroe Islands</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/finland/">Finland</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/gibraltar/">Gibraltar</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/greece/">Greece</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/hungary/">Hungary</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/iceland/">Iceland</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/ireland/">Ireland</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/israel/">Israel</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/kosovo/">Kosovo</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/latvia/">Latvia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/liechtenstein/">Liechtenstein</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/lithuania/">Lithuania</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/luxembourg/">Luxembourg</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/malta/">Malta</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/moldova/">Moldova</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/montenegro/">Montenegro</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/holland/">Netherlands</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/macedonia/">North Macedonia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/northern-ireland/">Northern Ireland</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/norway/">Norway</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/poland/">Poland</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/portugal/">Portugal</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/romania/">Romania</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/russia/">Russia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/san-marino/">San Marino</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/scotland/">Scotland</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/serbia/">Serbia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/slovakia/">Slovakia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/slovenia/">Slovenia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/sweden/">Sweden</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/switzerland/">Switzerland</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/turkey/">Turkey</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/ukraine/">Ukraine</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/wales/">Wales</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/asia/">Asia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/afc-u-19-championship/">AFC U19 Champ.</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/armenia/">Armenia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/azerbaijan/">Azerbaijan</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/bahrain/">Bahrain</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/bangladesh/">Bangladesh</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/cambodia/">Cambodia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/china/">China</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/georgia/">Georgia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/hong-kong/">Hong Kong</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/india/">India</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/indonesia/">Indonesia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/iran/">Iran</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/iraq/">Iraq</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/japan/">Japan</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/jordan/">Jordan</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/kazakhstan/">Kazakhstan</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/korea-republic/">Republic of Korea</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/kuwait/">Kuwait</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/lebanon/">Lebanon</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/malaysia/">Malaysia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/mongolia/">Mongolia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/myanmar/">Myanmar</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/oman/">Oman</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/palestine/">Palestine</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/philippines/">Philippines</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/qatar/">Qatar</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/saudi-arabia/">Saudi Arabia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/singapore/">Singapore</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/syria/">Syria</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/taiwan/">Taiwan</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/tajikistan/">Tajikistan</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/thailand/">Thailand</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/turkmenistan/">Turkmenistan</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/united-arab-emirates/">United Arab Emirates</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/uzbekistan/">Uzbekistan</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/vietnam/">Vietnam</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/africa/">Africa</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/africa-cup-of-nations/">Africa Cup of Nations</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/african-nations-championship/">African Nations Champ.</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/algeria/">Algeria</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/angola/">Angola</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/botswana/">Botswana</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/cameroon/">Cameroon</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/congo/">Congo</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/dr-congo/">DR Congo</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/egypt/">Egypt</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/ghana/">Ghana</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/ivory-coast/">Ivory Coast</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/kenya/">Kenya</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/morocco/">Morocco</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/nigeria/">Nigeria</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/rwanda/">Rwanda</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/senegal/">Senegal</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/south-africa/">South Africa</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/tanzania/">Tanzania</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/tunisia/">Tunisia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/uganda/">Uganda</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/zambia/">Zambia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/zimbabwe/">Zimbabwe</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/south-america/">South America</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/copa-america/">Copa America</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/argentina/">Argentina</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/bolivia/">Bolivia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/brazil/">Brazil</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/chile/">Chile</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/colombia/">Colombia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/ecuador/">Ecuador</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/paraguay/">Paraguay</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/peru/">Peru</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/uruguay/">Uruguay</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/venezuela/">Venezuela</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/concacaf/">CONCACAF</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/concacaf-nations-league/">CONCACAF Nations League</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/canada/">Canada</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/costa-rica/">Costa Rica</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/cuba/">Cuba</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/el-salvador/">El Salvador</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/guatemala/">Guatemala</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/honduras/">Honduras</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/jamaica/">Jamaica</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/mexico/">Mexico</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/nicaragua/">Nicaragua</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/panama/">Panama</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/trinidad-and-tobago/">Trinidad and Tobago</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/usa/">USA</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/oceania/">Oceania</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/australia/">Australia</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/new-zealand/">New Zealand</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/intl/">International</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/summer-olympics-2012/">Olympics Men</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/summer-olympics-2012-women/">Olympics Women</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/world-cup/">World Cup</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/world-cup-u17/">World Cup U-17</a>
  </li>
  <li>
    <a target="_blank" href="https://livescore.com/en/football/concacaf-championship-u20/">CONCACAF Championship U20</a>
  </li>
</ul>
